<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<table border="1">
  <tr>
    <td>#</td>
    <td>route</td>
    <td>stop_no</td>
    <td>stop</td>
    <td>&nbsp;</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['from'] }}-{{ i['to'] }}</td>
    <td>{{ i['stop_no'] }}</td>
    <td>{{ i['stop'] }}</td>
    <td><a href="/delete_stop?id={{ i['stop_id'] }}">delete</a></td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="5"><div align="center"><a href="/add_stop">add</a></div></td>
  </tr>
</table>
</form>
</body>
</html>
