<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<table width="201" border="1">
  <tr>
    <td>#</td>
    <td>name</td>
    <td>address</td>
    <td>contact</td>
    <td>email</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['first_name'] }} {{ i['last_name'] }}</td>
    <td>{{ i['place'] }} <br>{{ i['post'] }} <br>{{ i['pin'] }}</td>
    <td>{{ i['contact'] }}</td>
    <td>{{ i['email'] }}</td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
</html>
