<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/update_schedule">
  <table width="200" border="1">
    <tr>

    <tr>
      <td>stop</td>
      <td>time</td>
    </tr>

    <!--schedule_id,`schedule`.`trip_time`,`stop`.`stop`,`stop_no`-->
    {% for i in val %}
    <tr>
      <td>{{i['stop']}}&nbsp;</td>
      <td><input type="time" name="{{i['schedule_id']}}" value="{{i['trip_time']}}" /></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit2" value="Update" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
