<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form action="" method="post"><table width="200" border="1">
  <tr>
    <td>#</td>
    <td>Route</td>
    <td>Time</td>

    <td></td>
  </tr>

  {% for i in val %}

  <tr>
    <td>{{loop.index}}</td>
    <td>{{i['from']}} - {{i['to']}}</td>
    <td>{{i['trip_time']}}</td>
    <td><a href="deletetrip?id={{i['trip_id']}}">Delete</a> </td>
  </tr>

  {% endfor %}
  <tr>
    <td colspan="5"><div align="center"><a href="/add_trip">add</a></div></td>
    </tr>
</table>
</form>

</body>
</html>